html {
  height: 100vh;
  width: 100vw;
}

body {
  margin: 0;
}

.redBackground {
  background-color: #e4153e99
}

.floatingEditor {
  position: absolute;
  opacity: 93%;
  right: 10px; 
  top: 5%;
  height: 90%;
  max-width: 70vw;
}

.floatingViewer {
  position: absolute;
  left: 0;
  right: 0;
  width: 100vw;
  height: 100vh;
}

table {
  border-collapse: collapse;
  border: 1px solid black;
}

.collapsible {
  background-color: #eee;
  font-size: 15px;

}

.active, .collapsible:hover {
  background-color: #ccc;
}

.collapsible:after {
  content: '\02795';
  font-size: 12px;
  color: white;
  float: right;
  margin-left: 5px;
}

.active:after {
  content: "\2796";
}